.main__form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.form__content {
  padding: 20px;
}

.input__search {
  margin: 0 auto;
}

.button__wrapper {
  text-align: center;
}
.wrapper__input {
  text-align: center;
  margin: 20px;
}

.input__search {
  max-width: 300px;
}

.contact__wrapper {
  margin-top: 20px;
}
.card__content {
}
.button__delete {
  background-color: red;
}
